body{
   background-color: whitesmoke;
}
.img_description {
   position         : absolute;
   left             : 0px;
   right            : 0px;
   background       : rgba(0, 0, 0, 0.7);
   display          : flex;
   -webkit-box-align: center;
   align-items      : center;
   font-family      : Roboto, Helvetica, Arial, sans-serif;
   bottom           : 0px;
   color            : white;
   padding          : 5px;
}

.img_description>* {
   color        : inherit;
   margin-bottom: 5px;
}

.relative {
   position: relative;
}

.flex_column {
   display       : flex;
   flex-direction: column;
}